{% extends 'base.html.twig' %}

{% block title %}Projects index{% endblock %}

{% block body %}
    <h1>Projects index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Project_name</th>
                <th>Project_description</th>
                <th>Link_to_project</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.projectName }}</td>
                <td>{{ project.projectDescription }}</td>
                <td>{{ project.linkToProject }}</td>
                <td>
                    <a href="{{ path('projects_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('projects_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('projects_new') }}">Create new</a>
{% endblock %}