{% extends 'base.html.twig' %}

{% block title %}BlogArticles{% endblock %}

{% block body %}
    <h1>BlogArticles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blog_article.id }}</td>
            </tr>
            <tr>
                <th>Article_title</th>
                <td>{{ blog_article.articleTitle }}</td>
            </tr>
            <tr>
                <th>Article</th>
                <td>{{ blog_article.article }}</td>
            </tr>
            <tr>
                <th>Publication_date</th>
                <td>{{ blog_article.publicationDate }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('blog_articles_index') }}">back to list</a>

    <a href="{{ path('blog_articles_edit', {'id': blog_article.id}) }}">edit</a>

    {{ include('blog_articles/_delete_form.html.twig') }}
{% endblock %}