{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Profil</h1>

    <table class="table">
     
        <tbody>
        {% for presentation in presentations %}
            <tr>
            <ul class="listPres">
                <li>Nom : {{ presentation.nom }}</li>
                <li>Description : {{ presentation.description }}</li>
                <li>E-mail : {{ presentation.emailAddress }}</li>
                <li>Numéro de téléphone : {{ presentation.phoneNumber }}</li>
                <li>Linkedin : {{ presentation.linkedinLink }}</li>
                <li>Github : {{ presentation.githubLink }}</li>
            </ul>
              
                    <a href="{{ path('presentation_edit', {'id': presentation.id}) }}" class="change">Modifier</a>
                    <form method="post" action="{{ path('presentation_delete', {'id': presentation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ presentation.id) }}">
                        <button class="btn delete">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucunes données enregistrées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}