{% extends 'base.html.twig' %}

{% block title %}Cities{% endblock %}

{% block body %}
    <h1>Cities</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ city.id }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ city.city }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cities_index') }}">back to list</a>

    <a href="{{ path('cities_edit', {'id': city.id}) }}">edit</a>

    {{ include('cities/_delete_form.html.twig') }}
{% endblock %}