{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">{% endblock %}

{% block body %}
<div class="secMenu">
    <a href="{{ path('dates_index')}}" class="clickedblue btn-secMenu" >Années</a>
    <a href="{{ path('cities_index')}}" class="clickedblue btn-secMenu" >Villes</a>
    <a href="{{ path('countries_index')}}" class="clickedblue btn-secMenu" >Pays</a>
    <a href="{{ path('images_index')}}" class="clickedblue btn-secMenu" >Images</a>
    <a href="{{ path('places_index')}}" class="clickedblue btn-secMenu" >Entreprises</a>
</div>
{% endblock %}
